@tailwind base;
@tailwind utilities;
@tailwind variants;

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
}

@font-face {
  src: url('./assets/fonts/VIKING.otf');
  font-family: 'Viking';
}